<div class="card">
    <div class="card-header">
        {{ venue.name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ venue.name }}</h5>
        {% include 'snippets/venue_tags.html' with venue=venue %}
        <p class="card-text">
            {{ venue.description }}<br/>
            <br/>
            <a href="{% url 'show_venue' venue.id %}" class="btn btn-primary">Details...</a>
            {% if user.is_authenticated %}
                <a href="{% url 'delete_venue' venue.id %}" class="btn btn-danger">Delete venue</a>
            {% endif %}
        </p>
    </div>
</div>
