{% extends 'events/base.html' %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-8">
            <div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:  16px;">
                <h3>Sign up</h3>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{  message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- This is shown when something went wrong with registration: -->
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>There was an error with your form.</p>
                    </div>
                {% endif %}

                <form action="{% url 'signup_user' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 5rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">See also</h4>
                    <p class="mb-0">
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}