{% extends 'events/base.html' %}
{% block title %}Edit {{ event.name }}{% endblock %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-9">
            <div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:  16px;">
                <h3>Edit event – {{ event.name }}</h3>
                <form action="{% url 'edit_event' event.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit"  value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>

        <!-- Right column -->
        <div class="col-md-3">
            <div class="position-sticky" style="top: 5rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">See also</h4>
                    <p class="mb-0">
                        <i>More recommended places to visit...</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}